.separador{
    background-color: rgb(32, 111, 229);
    height: 5px;
}

footer{
    background-color: #26717129;
}

.fondoNav{
    background-color: #26717129;
}

.textoCarusel{
position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 1.25rem;
padding-bottom: 1.25rem;
color: #a14343;
text-align: center;
color: black;
}